form p {
  font-weight: bold;
}

form p,
form legend {
  padding-top: 1em;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

button:disabled {
  cursor: wait;
  background-color: #666;
  color: #777;
  border-color: #777;
}

form .btn:hover {
  background-color: var(--mainWhite);
  color: var(--limaGreen);
  border-color: var(--limaGreen);
}

.already-registered {
  display: inline-block;
  font-size: 0.8em;
  margin: 1em 0;
}

.segmentedControl {
  width: 100%;
  margin-bottom: 2em;
}

.segmentedControl legend {
  padding-bottom: 0.5em;
}

.segmentedControl label {
  display: inline-block;
  width: 50%;
}

.segmentedControl label input {
  top: -20px;
  position: fixed;
  visibility: hidden;
}

.segmentedControl span {
  display: block;
  text-align: center;
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  cursor: pointer;
  height: 42px;
  line-height: 40px;
  border: 1px solid #666;
  border-radius: 3px;
  font-weight: bold;
}

.segmentedControl label input:checked + span {
  background-color: var(--limaGreen);
  color: white;
}

.segmentedControl .input-feedback {
  margin-top: 20px;
}

.input-feedback {
  color: var(--mainWhite);
  margin-top: -15px;
  font-size: 14px;
  margin: -0.5em 0 1em;
  display: inline-block;
  background-color: var(--crimsonRed);
  padding: 1em;
  border: 1px solid var(--crimsonRed);
  box-shadow: var(--smallDarkShadow);
  position: relative;
}

.input-feedback:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--crimsonRed);
  position: absolute;
  top: -10px;
}

form p.smallHelp {
  font-weight: normal;
  font-size: 0.7rem;
  padding-top: 0;
}

span.error,
input.error {
  border: 2px solid var(--crimsonRed);
  background-color: #fbdee6;
}

@media only screen and (min-width: 480px) {
  form {
    padding: 1em 4em;
  }

  form .btn {
    margin-top: 0.5em;
  }
}
