.section.socials {
  padding-top: 0.3em;
  text-align: right;
  position: absolute;
  align-self: flex-end;
  width: 100%;
  padding-top: 10px;
}

.section.socials span {
  color: var(--mainWhite);
  font-size: 2em;
  padding-right: 0.7em;
}

.section.socials .mcarthys-logo {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 120px;
}
