* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colour names created using https://www.color-blindness.com/color-name-hue/ */

:root {
  /* --limaGreen: #8bd71d; */
  --limaGreen: #7ebf20;
  --tolopeaPurple: #2c2135;
  --tolopeaPurpleRgb: 44, 33, 53;
  --honeyFlowerPurple: #543f65;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainGrey: #333;
  --lightGrey: #999;
  --mainBlack: #000;
  --crimsonRed: #c51244;
  --smallDarkShadow: 0px 2px 2px rgb(0, 0, 0, 0.8);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  /*--mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5); */
}

@font-face {
  font-family: "hand-written";
  src: local("hand-written"),
    url("./fonts/paulmaul-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"),
    url("./fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSansLight"),
    url("./fonts/opensans_light_macroman/OpenSans-Light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"),
    url("./fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  display: none;
}

body {
  font-family: OpenSansLight, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App {
  background: #999;
}

.full-height-window {
  height: 100vh;
  min-height: 450px;
}

a {
  color: var(--limaGreen);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--mainWhite);
}

p {
  padding-bottom: 1em;
}

ul {
  list-style: none;
}

ol {
  padding-left: 3em;
}

fieldset {
  border: 0;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 67.5rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

nav .container {
  padding: 5px;
}

header .container {
  width: 90%;
  font-size: 0.8em;
}

footer .container {
  padding: 1em 0 0.5em;
}

.pad-bottom-xsm {
  padding-bottom: 0.5em;
}

.pad-bottom-sm {
  padding-bottom: 1em;
}

.pad-bottom-md {
  padding-bottom: 1.5em;
}

.pad-bottom-lg {
  padding-bottom: 2em;
}

.right {
  float: right;
}

h2 {
  text-align: center;
  margin: 1em 0;
}

/* Sections */
.section {
  padding: 4rem 0.5rem;
}

.section.socials {
  background: var(--limaGreen);
  padding: 0 0.5rem;
}

.sectionPreviousEvents {
  background: var(--mainBlack);
  color: var(--mainWhite);
}

.sectionPreviousEvents h3 {
  padding-top: 2em;
  padding-bottom: 1em;
}

.sectionPreviousEvents h3:first-of-type {
  padding-top: 0;
}

.sectionPreviousEvents .thankYouPhoto {
  width: 100%;
}

.section.one {
  background: var(--lightGrey);
  position: relative;
  color: var(--offWhite);
  padding-bottom: 2em;
  max-width: 67.5rem;
  margin: 0 auto;
}

.section.one .victoria {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid white;
}

.section.two {
  color: var(--mainWhite);
  background: var(--mainGrey);
  padding: 4rem 0;
}

.eventInfo {
  background: var(--limaGreen);
  padding: 0 20px;
  margin-bottom: 20px;
}

.eventInfo li {
  display: flex;
  padding: 1.5em 1em;
}

.eventInfo .icon {
  min-width: 3.5rem;
  font-size: 2.5em;
}

.eventInfo p {
  font-size: 0.9em;
  font-weight: bold;
}

.eventInfo .icon,
.eventInfo h3 {
  color: var(--mainBlack);
}

.section.three {
  color: var(--mainWhite);
  background: var(--tolopeaPurple);
}

.section.three .section-content {
  background-color: var(--honeyFlowerPurple);
  padding: 1em 2em;
  margin-bottom: 2em;
}

.section.three a,
footer a {
  font-weight: bold;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2em;
  border: 3px solid var(--limaGreen);
  border-radius: 8px;
  transition: var(--mainTransition);
  cursor: pointer;
  text-shadow: none;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--limaGreen);
  color: var(--mainWhite);
}

.desktopOnly {
  display: none;
}

.mobileOnly {
  display: block;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .desktopOnly {
    display: block;
  }

  .mobileOnly {
    display: none;
  }

  h2 {
    margin: 1.5em 0;
  }

  .section.one .container {
    padding-left: calc(60% - 0.5rem);
  }

  .section.one .victoria {
    display: none;
  }

  .section.one:before,
  .section.one:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .section.one:after {
    width: calc(50% - 2rem);
    z-index: 1;
    background: url(./images/victoria.jpg) right center no-repeat;
    background-size: cover;
  }

  .section.two .container {
    display: flex;
    padding-right: 0;
  }

  .eventAbout {
    max-width: 70%;
    padding-right: 2rem;
  }

  .eventInfo {
    margin-bottom: 0;
    max-width: 30%;
  }

  .eventInfo li {
    padding: 0 0 2rem;
  }

  .sectionPreviousEvents .thankYouPhoto {
    width: 30rem;
    float: right;
    margin-left: 2rem;
    transform: rotate(2deg);
  }
}
