* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --primaryColor: #8bd71d; */
  --primaryColor: #7ebf20;
  --secondaryColor: #2c2135;
  --secondaryColorRgb: 44, 33, 53;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainGrey: #333;
  --mainBlack: #000;
  --smallDarkShadow: 0px 2px 2px rgb(0, 0, 0, 0.8);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  /*--mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5); */
}

@font-face {
  font-family: "hand-written";
  src: local("hand-written"),
    url("./fonts/paulmaul-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"),
    url("./fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSansLight"),
    url("./fonts/opensans_light_macroman/OpenSans-Light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"),
    url("./fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  display: none;
}

body {
  font-family: OpenSansLight, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.full-height-window {
  height: 100vh;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--mainWhite);
}

p {
  padding-bottom: 1em;
}

ul {
  list-style: none;
}

ol {
  padding-left: 3em;
}

fieldset {
  border: 0;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 67.5rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

nav .container {
  padding: 5px;
}

header .container {
  width: 90%;
  font-size: 0.8em;
}

footer .container {
  padding: 1em 0 0.5em;
}

.pad-bottom-xsm {
  padding-bottom: 0.5em;
}

.pad-bottom-sm {
  padding-bottom: 1em;
}

.pad-bottom-md {
  padding-bottom: 1.5em;
}

.pad-bottom-lg {
  padding-bottom: 2em;
}

.right {
  float: right;
}

/* Nav */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 100;
}

nav #logo {
  display: flex;
  align-items: center;
}

nav #logo img {
  width: 50px;
  margin: 0 20px;
}

nav #logo span {
  max-width: 240px;
  font-family: "hand-written";
  font-size: 1.7em;
  line-height: 1em;
  color: white;
}

nav ul.menu {
  display: flex;
  justify-content: space-around;
  font-family: OpenSansBold;
  font-size: 0.8em;
  margin-top: 5px;
  padding: 5px 0 2px;
  border-top: 1px solid #222;
}

nav ul a.active {
  border-bottom: 2px solid var(--primaryColor);
  color: white;
}

h2 {
  text-align: center;
  margin: 0.5em 0;
}

/* Sections */
header {
  background: url(./images/header-background.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: OpenSansBold;
  color: var(--mainWhite);
  text-shadow: var(--smallDarkShadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

header h1,
header h2 {
  text-align: left;
}

header h1 {
  color: var(--primaryColor);
  font-family: OpenSansBold;
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 10px;
}

.section {
  padding: 5px;
}

.section.socials {
  background: var(--primaryColor);
}

.section.one {
  background: var(--offWhite);
  position: relative;
}

.section.one h2 {
  color: var(--primaryColor);
  font-family: "hand-written";
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0;
}

.section.one .victoria {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.section.two {
  color: var(--mainWhite);
  background: var(--mainGrey);
}

.section.three {
  color: var(--mainWhite);
  background: var(--secondaryColor);
}

.section.three a,
footer a {
  font-weight: bold;
}

footer {
  background: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
}

footer p {
  font-size: 0.7em;
}

footer .social-links a {
  font-size: 2em;
  color: white;
  padding: 0 0.2em;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2em;
  border: 3px solid var(--primaryColor);
  border-radius: 8px;
  transition: var(--mainTransition);
  cursor: pointer;
  text-shadow: none;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}

.section.socials {
  padding-top: 0.3em;
  text-align: right;
  position: absolute;
  align-self: flex-end;
  width: 100%;
  padding-top: 10px;
}

.section.socials span {
  color: var(--mainWhite);
  font-size: 2em;
  padding-right: 0.7em;
}

.section.socials .mcarthys-logo {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 120px;
}

form {
  padding: 1em 2em;
  background-color: rgb(84, 63, 101);
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border: 2px solid var(--primaryColor);
}

.input-feedback {
  color: var(--primaryColor);
  margin-top: -15px;
  font-size: 14px;
  margin: 0 0 2em;
}

button:disabled {
  cursor: wait;
  background-color: #666;
  color: #777;
  border-color: #777;
}

.already-registered {
  display: inline-block;
  font-size: 0.8em;
  margin: 1em 0;
}

.segmentedControl {
  width: 100%;
  margin-bottom: 2em;
}

.segmentedControl legend {
  padding-bottom: 0.5em;
}

.segmentedControl label {
  display: inline-block;
  width: 50%;
}

.segmentedControl label input {
  top: -20px;
  position: fixed;
  visibility: hidden;
}

.segmentedControl span {
  display: block;
  text-align: center;
  background-color: var(--mainWhite);
  color: var(--primaryColor);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  border: 1px solid #666;
  border-radius: 3px;
  font-weight: bold;
}
.segmentedControl span:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.segmentedControl span:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.segmentedControl label input:checked + span {
  background-color: var(--primaryColor);
  color: white;
}

.segmentedControl .input-feedback {
  margin-top: 20px;
}

/* Media Queries */

@media only screen and (min-width: 480px) {
  form {
    padding: 1em 4em;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    margin: 0.5em 0 1.5em;
  }

  nav {
    display: block;
  }

  nav .container {
    display: flex;
    justify-content: space-between;
  }

  nav #logo img {
    width: 90px;
  }

  nav #logo span {
    font-size: 2.2em;
    line-height: 0.8em;
  }

  nav ul.menu {
    margin-top: 0;
    padding: 0 1em;
    border-top: none;
  }

  nav ul.menu li {
    display: inline-block;
    padding-top: 2.6em;
    padding-left: 2em;
  }

  .section.one .container {
    padding-left: calc(50% - 6.25rem);
  }

  .section.one .victoria {
    display: none;
  }

  .section.one:before,
  .section.one:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .section.one:after {
    width: calc(50% - 8.75rem);
    z-index: 1;
    background: url(./images/victoria.jpg) right center no-repeat;
    background-size: cover;
  }
}
